# dependencies
node_modules/
**/node_modules/

# next.js (frontend)
frontend/.next/
frontend/out/
frontend/build/
frontend/node_modules/
frontend/.turbo/

# nest (backend)
backend/dist/
backend/node_modules/
backend/.turbo/

# uploads & local db
backend/uploads/
backend/prisma/*.db
backend/prisma/*.db-journal

# testing & coverage
coverage/
**/coverage/
.nyc_output/

# misc
.DS_Store
*.pem
*.log
*.pid
*.seed
*.pid.lock

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!**/.env.example

# vercel
.vercel

# typescript / eslint
*.tsbuildinfo
.eslintcache
